*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


/* ------------------------------ Custom Scroll Bar ------------------------------ */

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* --x--------------------------- Custom Scroll Bar ---------------------------x-- */


/* ------------------------------ Header ------------------------------ */

body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 80%;
    padding: 20px 0;
    border-radius: 38px;
}

.col-2 h1{
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background: #089e0d;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: rgb(8, 77, 215);
}

.header{
    background: radial-gradient(rgb(255, 252, 252), #a2f194);
}

.header .row{
    margin-top: 70px;
}

/* --x--------------------------- Header ---------------------------x-- */


/* ------------------------------ Featured Categories ------------------------------ */

.categories{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    cursor: pointer;
}

.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    cursor: pointer;
}

.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #089e0d;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}

.col-4 s{
    font-size: 14px;
    margin: 0;
    display: inline;
    color: rgba(108, 92, 99, 0.811);
}

.col-4 p{
    font-size: 14px;
    margin: 0;
    display: inline;
    color: #000;
}

.col-4 a{
    font-size: 14px;
    color: #089e0d;
}

.col-4 span{
    font-size: 12px;
}

.rating .bi{
    color: #089e0d;
}

.col-4:hover{
    transform: translateY(-5px);
}

/* --x------------------------ Featured Category ------------------------x-- */
/* --------------------------- Offers --------------------------- */
  
.offer{
    background: radial-gradient(rgb(255, 252, 252), #a2f194);
    margin-top: 80px;
    padding: 30px;
}

.col-2 .offer-img{
    padding: 50px;
}

small{
    color: #555;
}

.showcase{
    width: 85%;
    height: 10vh;
    position: relative;
}

.showcase video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.casetext{
    width: 100%;
    height: 100%;
    background-color: #000;
    font-size: 30px;
    color: #fff;
    mix-blend-mode: overlay;
}

/* --x------------------------ Offers ------------------------x-- */


/* --------------------------- Testimonial --------------------------- */

.testimonial{
    padding-top: 100px;
}

.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover{
    transform: translateY(-10px);
}

.bi.bi-quote{
    font-size: 34px;
    color: #089e0d;
}

.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/* --x------------------------ Testimonial ------------------------x-- */

/* --------------------------- Brands --------------------------- */

.brands{
    margin: 100px auto;
}

.col-5{
    width: 160px;
}

.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover{
    filter: grayscale(0);
}
/* --x------------------------ Brands ------------------------x-- */

/* --------------------------- Footer --------------------------- */

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex: 1%;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 0.2px;
}

.copyright{
    text-align: center;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
/* --x------------------------ Footer ------------------------x--*/

/* --------------------------- All Products Page --------------------------- */

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}

select{
    border: 1px solid #089e0d;
    padding: 5px;
}

select:focus{
    outline: none;
}

.page-btn{
    margin: 0 auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 1px solid #089e0d;
    margin-left: 10px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover{
    background: #089e0d;
    color: #fff;
}

/* --x------------------------ All Product Images ------------------------x-- */

/* --------------------------- Single Product details --------------------------- */

.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}

.single-product .col-2{
    padding: 20px;
}

.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select{
    display: block;
    padding: 8px;
    margin: 1px;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #089e0d;
}

input:focus{
    outline: none;
}

.single-product .fa-solid{
    color: #089e0d;
    margin-left: 10px;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}



/* --x------------------------ Single Product details ------------------------x-- */

/* --------------------------- Cart --------------------------- */

.cart-container{
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
}

.cart-container h1{
    padding: 20px 0;
}

.cart{
    display: flex;
}
.products{
    flex: 0.75;
}


.product{
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border: 1px solid silver;
    margin-bottom: 20px;
}

.product:hover{
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

.product img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.product img:hover{
    transform: scale(1.04);
}

.product-info{
    padding: 20px;
    width: 100%;
    position: relative;
}

.product-name, .product-price, .product-offer{
    margin-bottom: 20px;
}

.product-remove{
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 25px;
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.product-remove:hover{
    background-color: #fff;
    color: green;
    font-weight: 600;
    border: 1px solid green;
}

.product-quantity input{
    width: 40px;
    padding: 5px;
    text-align: center;
}

.fa{
    margin-right: 5px;
}

.cart-total{
    flex: 0.25;
    margin-left: 20px;
    padding: 20px;
    height: 440px;
    border: 1px solid silver;
    border-radius: 5px;
}

.cart-total:hover{
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

.cart-total p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 12px;
}

.cart-total a{
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: tomato;
    color: white;
    text-decoration: none;
}

.cart-total a:hover{
    background-color: red;
}

.product-offer, .discount-save, .discount{
    color: green;
}

h5, .product-price{
    display: inline;
}

.totalAmount{
    padding-top: 2px;
    height: 4px;
}
.discount-save{
    padding: 2px;
    height: 40px;
}

.discount-save span{
    font-size: 14px;
}




/* --x--------------------------- Cart ------------------------x-- */


/* --------------------------- Media Query Menu --------------------------- */

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    .showcase{
        width: 85%;
        height: 25vh;
        position: relative;
    }

    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: #fff;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
/* --x------------------------ Media Query Menu ------------------------x-- */

/* --------------------------- Media Query for less than 600 screen size --------------------------- */

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }

    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }

    .single-product .row{
        text-align: left;
    }

    .single-product .col-2{
        padding: 20px 0;
    }

    .single-product h1{
        font-size: 26px;
        line-height: 26px;
    }

    .cart-info p{
        display: none;
    }
}

/* --x------------------------ Media Query for less than 600 screen size ------------------------x-- */


/* --------------------------- Media Query CArt screen size 700px --------------------------- */

@media screen and (max-width: 700px){
    .remove{
        display: none;
    }

    .product{
        height: 150px;
    }

    .product img{
        width: 200px;
        height: 150px;
    }

    .product-name, .product-price, .product-offer{
        margin-bottom: 10px;
    }

}

/* --x------------------------ Media Query CArt screen size 700px ------------------------x-- */

/* --------------------------- Media Query CArt screen size 900px --------------------------- */

@media screen and (max-width: 900px){
    .cart{
        flex-direction: column;
    }

    .cart-total{
        margin-left: 0;
        margin-bottom: 20px;
    }
}

/* --x------------------------ Media Query CArt screen size 900px ------------------------x-- */

/* --------------------------- Media Query CArt screen size 1220px --------------------------- */

@media screen and (max-width: 1220px){
    .cart-container{
        max-width: 95%;

    }
}

/* --x------------------------ Media Query CArt screen size 1220px ------------------------x-- */

